*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.page-body {
    font-family: Montserrat, sans-serif;
}

/* БЛОК HEADER */

.header {
    background-image: url(./img/Layer-1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
}

.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.header-container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo-link {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}

.header-logo-img {
    width: 58px;
    height: 67px;
}

.header-logo-subtitle {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    position: absolute;
    left: 15px;
}

.header-logo-text {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin-left: 6px;
}

.header-logo-text span {
    color: #18CFAB;
}

.navbar-menu {
    font-family: sans-serif;
    display: flex;
    list-style: none;
    gap: 21px;
}

.navbar-menu-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 44px;
    margin-top: 48px;
}

.navbar-menuu-link {
    padding-top: 50px;
}

.navbar-menu-link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    transform: matrix(1, 0, 0, -0°, 0, 0);
}

.navbar-menu-link-img:hover {
    color: #18CFAB;
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    width: 769px;
    display: flex;
    justify-content: center;
    margin-top: 251px;
}

.button-container {
    display: flex;
    width: 364px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 129px;
    padding-bottom: 243px;
    gap: 26px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
}

.button-container-light-green {
    margin-left: 492px;
    margin-top: 62px;
}

.section-title {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
}

.section-title span {
    color: #18CFAB;
}

.section-title-first {
    color: #FFF;
    font-family: Montserrat;
    font-size: 78px;
    text-transform: uppercase;
}

.section-subtitle {
    color: #D4D4D4;
    text-align: center;
    font-family: Montserrat;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
}

/* БЛОК MENU SERVICES */

.main {
    width: 100%;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    list-style: none;
}

.menu-services {
    padding-top: 87px;
    padding-bottom: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 49px;
}

.menu-services-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

/* БЛОК Our Service */

.sect-our-service {
    padding-top: 92px;
    padding-bottom: 91px;
}

.sect-title {
    position: relative;
    margin-bottom: 98px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.sect-title::after,
.sect-title::before {
    content: '';
    position: absolute;
    width: 76px;
    height: 1px;
    background-color: #18CFAB;
}

.sect-title::after {
    bottom: -24px;
    margin-left: -15px;
}

.sect-title::before {
    bottom: -28px;
}

.our-services-text {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
}

.our-services-block {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
}

.our-services-block-text {
    padding: 16px 20px;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    font-family: Montserrat;
    border: 1px solid #edefef;
    background-color: #F8FCFE;
}

.our-services-block-text:hover {
    border: 1.5px solid #18CFAB;
}

.active-navbar {
    position: relative;
    color: #FFFFFF;
    background-color: #18CFAB;
}

.active-navbar::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-13.5px);
    border-top: 15px solid #18CFAB;
    border-right: 13.5px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 13.5px solid transparent;
}

.our-services-descriptor-item {
    display: none;
    gap: 13px;
}

.our-services-descriptor-item-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.active {
    display: flex;
}

/* БЛОК everything is ready */

.everything-is-ready {
    background-image: url(./img/Layer\ 21\ 1.png);
    height: 476px;
    background-repeat: no-repeat;
    background-size: cover;
}

.ever-ready {
    color: #18CFAB;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 127px;
}

.ever-is-ready {
    color: #D8D8D8;
    text-align: center;
    font-family: Montserrat;
    padding-top: 13px;
}

/* БЛОК OUR AMAZING WORK */

.our-amazing-work {
    display: flex;
    justify-content: center;
    margin-top: 97px;
}

.our-amazing-title-text {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.our-amazing {
    list-style: none;
    justify-content: center;
}

.our-text {
    padding: 14px 13px;
    font-size: 15px;
    line-height: 39px;
    color: #717171;
    font-family: Montserrat;
    border: 1px solid #edefef;
    background-color: #F8FCFE;
}

.our-text:hover {
    border: 1.9px solid #18CFAB
}

.our-amazing-all {
    margin-top: 71px;
    display: grid;
    grid-template-rows: repeat(2, 211px);
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
}

.our-amazing-block {
    position: relative;
}

.info-work {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #E9EDEF;
    width: 100%;
    height: 100%;
}

.our-amazing-block:hover .info-work {
    display: block;
}

.our-amazing-block:hover .our-amazing-block-img {
    display: none;
}

.info-work-link-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding-top: 46px;
}

.info-work-link-svg::after {
    content: '';
    position: absolute;
    width: 285px;
    height: 2.5px;
    background-color: #18CFAB;
    top: 0;
}

.link-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    border: 1px solid #18CFAB;
}

.link-svg-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    background-color: #18CFAB;
}

.text-creative-design {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 25px;
    color: rgba(24, 207, 171, 1);
    text-transform: uppercase;
    padding-top: 24px;
}

.text-web-design {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: rgba(138, 138, 138, 1);
}

.ext-web-design::after {
    content: '';
    background-color: rgba(24, 207, 171, 1);
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.color-text-light-green {
    color: #18CFAB;
}

.color-text-white {
    color: #FFFFFF;
}

/* БЛОК BREAKING NEWS */

.sect-news {
    padding-top: 90px;
    padding-bottom: 130px;
}

.breaking-news-text {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
}

.breaking {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 44px 33px;
}

.breaking-news {
    cursor: pointer;
    position: relative;
}

.breaking-news:hover div {
    background: #18CFAB;
}

.breaking-news:hover h1 {
    color: #18CFAB;
}

.amazing-blog-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
    color: #717171;
}

.amazing-blog-paragraph {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
    color: #777777;
}

.breaking-amazing {
    position: absolute;
    background: #203E38;
    width: 66px;
    height: 65px;
    top: 0;
    right: 0;
}

.breaking-amazing-title {
    color: #FFFFFF;
    line-height: 25px;
    text-align: center;
    padding-top: 7px;
}

.breaking-amazing-subtitle {
    color: #FFFFFF;
    line-height: 25px;
    text-align: center;
}

/* БЛОК What People Say About theHam */

.people-ham {
    padding-top: 98px;
    padding-bottom: 96px;
    background-image: url(./img/Layer-333.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.people-say {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.team-list {
    display: flex;
    overflow: hidden;
    max-height: 397px;
}

.team-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-item-active {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
}

.img-svg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.people-say-subtitle {
    color: #BBBBBB;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    padding-top: 36px;
}

.hero-name {
    color: #18CFAB;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 37px;
}

.occupation {
    color: #BBBBBB;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
}

.avatar-img {
    width: 171px;
    height: 166px;
    position: relative;
    background-color: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}

.img-person {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-71px, -71px);
}

.img-big {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* img-icon  */

.team-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 51px;
}

.btn-previous,
.btn-next {
    width: 31px;
    height: 31px;
    background-color: transparent;
    border: 1px solid rgba(187, 187, 187, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-next:hover,
.btn-previous:hover {
    background-color: #18CFAB;
}

.img-icon {

    position: relative;
    background-color: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}

.team-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}

.ur-amazing {
    display: flex;
    align-items: center;
    width: 582px;
    margin-left: auto;
    margin-right: auto;
}

.bg-color-dark-blue {
    background-color: #1C2A33;
}

.bg-color-light-green {
    background-color: #18CFAB;
}

.text-color-white {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
}

.bg-color-light-blue {
    background-color: #00CBF6;
}

.button {
    border: none;
    box-shadow: 0px -5px #FFFFFF;
    width: 169px;
    height: 63px;
    border-radius: 6px;
}

.text-gallery-of-best-images {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 108px;
}

.gallery-of-best-images {
    display: flex;
    gap: 20px;
}

.best-images {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 263px 263px 290px;
    gap: 20px;
}

.best-images-first {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 380px 247px 254px;
    gap: 20px;
}

.best-images-dooble {
    list-style: none;
    display: grid;
    grid-template-columns: 180px 180px;
    gap: 4px;
}

.best-images-triple {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(3, 92px);
    grid-template-columns: 124px 119px 115px;
    gap: 3px;
}

.best-images-four {
    list-style: none;
    padding-top: 20px;
}

.button-container-main {
    margin-left: 492px;
    margin-top: 52px;
    margin-bottom: 67px;
}

.footer {
    background-color: #22353F;
    height: 121px;
}

.footer-text {
    display: flex;
    justify-content: center;
}

.footer-text {
    color: #AEAEAE;
    font-family: Montserrat;
    padding-top: 48px;
    line-height: 26px;
    padding-bottom: 47px;
}

.footer-text span {
    color: #18CFAB;
}